# Dependencies
node_modules/
dist/

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
build/
